{{> menu-project}}

<section class="section">
  <div class="title">
    {{project.title}}
  </div>
</section>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Category</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          Project Title
        </td>
        <td>
          {{project.projectTitle}}
        </td>
      </tr>
      <tr>
        <td>
          Latitude
        </td>
        <td>
          {{project.latitude}}
        </td>
      </tr>
      <tr>
        <td>
          Longitude
        </td>
        <td>
          {{project.longitude}}
        </td>
      </tr>
      <tr>
        <td>
          Project Style
        </td>
        <td>
          {{project.styleDescription}}
        </td>
      </tr>
      <tr>
        <td>
          Project Description
        </td>
        <td>
          {{project.projectDescription}}
        </td>
      </tr>
      <tr>
        <td>
          Area (sq. meters)
        </td>
        <td>
          {{project.areaSqM}}
        </td>
      </tr>
      <tr>
        <td>
          Project Budget (€)
        </td>
        <td>
          {{project.priceEu}}
        </td>
      </tr>
      <tr>
        <td>
          Image 1
        </td>
        <td>
          <img src={{project.image1}}>
          <button id="upload_widget" class="button is-primary">Select/Update Image 1</button>
        </td>
      </tr>
      <tr>
        <td>
          Image 2
        </td>
        <td>
          <img src={{project.image2}}>
          <button id="upload_widget2" class="button is-primary">Select/Update Image 2</button>
        </td>
      </tr>
      <tr>
        <td>
          Image 3
        </td>
        <td>
          <img src={{project.image3}}>
          <button id="upload_widget3" class="button is-primary">Select/Update Image 3</button>
        </td>
      </tr>
  </tbody>
</table>

<section>
  {{> update-project}}
</section>

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">  
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'whodunya', 
  uploadPreset: 'arc_upload_preset'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info.secure_url);
      var img_url =  result.info.secure_url;
      document.getElementById("url").value = img_url;
      document.getElementById("image1form").submit();
    }
  }
)

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
</script>

<form id="image1form" action="/project/{{project._id}}/updateimage1" method="POST">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="hidden" placeholder="Image 1 URL" name="image1" id="url">
      </div>
    </div>
  </div>
</form>


<script type="text/javascript">  
var myWidget2 = cloudinary.createUploadWidget({
  cloudName: 'whodunya', 
  uploadPreset: 'arc_upload_preset'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info.secure_url);
      var img_url2 =  result.info.secure_url;
      document.getElementById("url2").value = img_url2;
      document.getElementById("image2form").submit();
    }
  }
)

document.getElementById("upload_widget2").addEventListener("click", function(){
    myWidget2.open();
  }, false);
</script>

<form id="image2form" action="/project/{{project._id}}/updateimage2" method="POST">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="hidden" placeholder="Image 2 URL" name="image2" id="url2">
      </div>
    </div>
  </div>
</form>


<script type="text/javascript">  
var myWidget3 = cloudinary.createUploadWidget({
  cloudName: 'whodunya', 
  uploadPreset: 'arc_upload_preset'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info.secure_url);
      var img_url3 =  result.info.secure_url;
      document.getElementById("url3").value = img_url3;
      document.getElementById("image3form").submit();
    }
  }
)

document.getElementById("upload_widget3").addEventListener("click", function(){
    myWidget3.open();
  }, false);
</script>

<form id="image3form" action="/project/{{project._id}}/updateimage3" method="POST">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="hidden" placeholder="Image 3 URL" name="image3" id="url3">
      </div>
    </div>
  </div>
</form>
