<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Project Title</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Project Style</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each portfolio.projects}}
      <tr>
        <td>
          {{projectTitle}}
        </td>
        <td>
          {{latitude}}
        </td>
        <td>
          {{longitude}}
        </td>
        <td>
          {{styleDescription}}
        </td>
        <td>
          <a href="/project/{{_id}}" class="ui icon button">
            <i class="fas fa-folder-open"></i>
          </a>
        </td>
        <td>
          <a href="/portfolio/{{../portfolio._id}}/deleteproject/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>